:root {
  --primary-color:hsl(322, 100%, 66%);
  --pale-cyan:hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --gray-blue:hsl(208, 11%, 55%);
  --white:white;
  --light-cyan:rgb(246, 251, 255);
  --blue-icon:rgb(34, 218, 218);
}

$primary-color:hsl(322, 100%, 66%);
$pale-cyan:hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$gray-blue:hsl(208, 11%, 55%);
$white:white;
